{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header %}
	<h2>Logowanie</h2>
{% endblock %}
{% block content %}
<center>
<div class="form-group row justify-content-center align-items-center">
	<div class="card card-default col-10 col-lg-5 mt-5 mb-5">
		<div class="card-body">
			<form action="" method="post">
				{% csrf_token %}
				<table>
				{{ form }}
				</table>
				<div class="p-2">
					<button class="btn btn-primary btn-sm m-1"
							type="submit">
						<i class="fas fa-sign-in-alt"></i> Zaloguj
					</button>
					<a class="btn btn-secondary btn-sm m-1" href="{% url "signup" %}">
						Nie masz konta? Zarejestruj się!
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
</center>
{% endblock %}